/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

/* google fonts */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


:root {
    --heading:
    'Montserrat', sans-serif;
}

body {
    font-family: 
    'Raleway', sans-serif;
}

/* global */
img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    width: 95vw;
    margin: 0 auto;
}

/* navigation */

#navigation_container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100px;
}

#top_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 20px 30px;
    height: 100%;
}

#top_head .fas{
    font-size: 2rem;
    cursor: pointer;
}

#website_name{
    padding-left: 20px;
}

.times_button{
    display: none;
}

.navigation_bar{
    background: dimgrey;
    height: 0;
    overflow: hidden;
}

.show_navigation{
    height: auto;
}

#navigation_bar ul li{
    text-align: center;
    display: block;
    padding: 15px 0;
    transition: all 1s ease-in-out;
}

#navigation_bar ul li:hover{
    background: rgb(40, 40, 40);
}

#navigation_bar ul li a{
    color: white;
    text-transform: uppercase;
}

#navigation_bar ul li a:hover{
    text-decoration: underline;
}

#social_icons{
    display: none;
}

/* banner */

.banner{
    min-height: auto;
    display: block;
    /* grid-template-columns: 1fr; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    padding: 0;
    margin-top: 100px;
    /* background-color: rgba(226, 226, 226, 0.2); */
}

.banner_main_content{
    align-items: center;
    /* padding: 0 2rem; */
    line-height: 1.7;
}

.banner_main_content h2{
    font-size: 2rem;
    font-family: var(--heading);
}

.banner_main_content h3{
    padding: 1rem 0;
}

.banner_main_content button{
    border: none;
    background: rgb(24, 24, 24);
    padding: 14px 18px;
    width: 300px;
    margin: auto;
    font-size: 1.2rem;
    font-family: 'Montserrat', 'sans-serif';
    transition: background 1s ease;
}

.banner_main_content button a{
    color: white;
}

.banner_main_content button:hover{
    background: white;
}

.banner_main_content button:hover a{
    color: rgb(24, 24, 24);
}

.banner_about{
    height: 300px;
    text-align: center;
    padding: 8px;
    display: grid;
    align-items: center;
}

.banner_about h2{
    text-align: center;
}

.banner_about h3{
    text-align: center;
}

.banner_about button{
    text-align: center;
}

.current_news_head_container h2{
    margin-top: 40px;
    text-align: center;
}

.current_news_head{
    padding-top: 20px;
}

.banner_main_content hr{
    margin: 20px 0;
    background: rgb(165, 255, 29);
    height: 1px;
    border: none;
}

.news_topic_container{
    width: 300px;
    display:flex;
    height: 70px;
    margin: 10px auto;
}

.news_topic_container i{
    width: 50px;
    margin: 10px;
    height: 50px;
    font-size: 1.7rem;
    padding:10px;

    background-color: rgb(219, 255, 166);
    border: 1px solid rgb(219, 255, 166);
    border-radius: 20%;
}

.news_topic_container div{
    width: 10px;
    margin: auto;
    height: 10px;
    background: rgb(219, 255, 166);
    border-radius: 50%;
}

.news_topic_container h3{
    padding: 10px;
    border-radius: 10%;
    /* background-color: rgb(219, 255, 166); */
    margin: 10px auto;
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news_topic_container h3:hover{
    background-color: rgb(165, 255, 29);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}


.hot_topic{
    overflow: hidden;
    position: relative;
    width: auto;
    padding: 12px;
    height: 300px;
}


.hot_topic:hover img{
    border: 2px solid rgb(219, 255, 166);
}

.hot_topic:hover div{
    border: 2px solid rgb(219, 255, 166);
    background: rgba(24,24,24,0.5);
}

.hot_topic:hover a{
    display: block;
}

.hot_topic:hover p{
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
}

.hot_topic img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    /* border: 2px solid rgb(219, 255, 166); */
}

.hot_topic_content_top{
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border: 2px solid rgb(219, 255, 166); */
    top: 12px;
    right: 0;
    left: 0;
    margin: auto 12px;
    padding: 10px 10px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
    background: rgba(24,24,24,0.5);
    overflow: hidden;
}

.hot_topic_content_bot{
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 1px;
    left: 12px;
    right: 12px;
    top: 60px;
    line-height: 230px;
    margin: 10px 0 10px 0;
    padding: 0;
    text-align: center;
    color: white;
    /* background: rgba(24,24,24,0.5); */
    overflow: hidden;
}

.hot_topic h2{
    /* padding: 10px 6px; */
    font-size: 18px;
    text-shadow: 0 0 5px black;
    height: 100%;
    margin: auto;
    vertical-align: top;
    line-height: 1.2;
}

.hot_topic h3{
    display:none;
    padding: 10px 0;
    font-size: 16px;
    text-shadow: 0 0 2px black;
}

.hot_topic p{
    display: none;
    padding: 12px 10px;
    font-size: 15px;
    text-shadow: 0 0 2px rgb(255, 255, 255);
}

.hot_topic a{
    display: none;
    position: absolute;
    background: rgba(219, 255, 166, 0.8);
    bottom: 0;
    right: 0;
    border: none;
    width: 95px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    padding: 10px 10px;
    font-size: 14px;
    margin: 12px;
}

.hot_topic a:hover{
    text-decoration: underline;
}

.banner_sub_content {
    display: none;
}

.loader_container {
    width: 100%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(165, 255, 29);; /* Blue */
    border-radius: 50%;
    width: 400px;
    height: 400px;
    animation: spin 2s linear infinite;
    margin: 200px auto;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



@media(max-width: 400px){
    .news_topic_container{
        width: 300px !important;
    }

    .news_topic_container h3{
        width: 200px ! important;
    }
}



@media(max-width: 700px){
    .banner_about{
        height: auto;
    }

    .news_topic_container{
        width: 70%;
    }

    .news_topic_container h3{
        width: 70%;
    }

}

@media(min-width: 630px){
    .current_news_head{
        grid-template-columns: repeat(2, 1fr);
        display: grid;
    }
}


/* @media(min-width: 700px){
    .current_news_head{
        grid-template-columns: repeat(3, 1fr);
    }
} */

@media(min-width: 700px){
    .banner_sub_content{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media(min-width: 950px){
    .ham_button, .times_button{
        display: none !important; 
    }

    #navigation_container{
        display:flex;
        background-color: rgb(24, 24, 24);
        align-items: center;
        flex-wrap: wrap;
    }

    #top_head{
        flex: 0 0 15%;
    }

    .navigation_bar{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
        width: 30%;
    }

    .navigation_bar nav{
        height: 100%;
    }

    .navigation_bar nav ul{
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .navigation_bar nav ul li{
        padding-right: 30px !important;
        margin: auto;
    }

    .navigation_bar nav ul li:hover{
        background: none !important;
    }

    #social_icons{
        flex: 0 1 30%;
        display: block;
        margin: 0 auto;
    }

    #social_icons .fab{
        color: white;
        font-size: 2rem;
    }

    #social_icons ul{
        display: flex;
        justify-content: center;
        padding:0 20px;
    }

    #social_icons ul li{
        padding: 20px;
    }

    .current_news_head{
        grid-template-columns: repeat(3, 1fr);
    }

}


@media(min-width: 1100px){
    /* .banner{
        display: flex;
    } */

    .current_news_head{
        margin:0;
        padding:5px;
        display: block;
    }

    .news_topic_container{
        height: 54px;
    }

    .news_topic_container i{ 
        margin: 5px;
    }

    .news_topic_container h3{ 
        margin: 5px;
        height: 50px;
    }

    .extra_topic{
        display:none !important;
    }

    .banner_main_content{
        width: 300px;
    }

    .banner_main_content hr{
        display: none;
    }

    .banner_about{
        display:none;
    }

    .current_news_head_container h2{
        display: none;
    }

    .current_news_head_container {
        position: fixed;
        top: 100px;
        left: 0;
        bottom: 5px;
        width: 350px;
    }

    .banner_sub_content{
        margin-left: 350px;
    }

    .loader_container{
        margin-left: 350px;
        width: auto;
    }
}

@media(min-width: 1500px){
    /* .current_news_head{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } */

    /*
    .extra_topic{
        display:flex !important;
    } */

    .banner_sub_content{
        grid-template-columns: repeat(3, 1fr);
    }    
}



@media(min-width: 1800px){
    .banner_sub_content{
        grid-template-columns: repeat(4, 1fr);
    }
}

