/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

/* google fonts */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* green template */

:root {
    --heading: 'Montserrat', sans-serif;
    --color-back: rgba(226, 226, 226, 0.2);
    --color-blank: rgb(143, 141, 141);
    --color-main-light: rgb(136, 255, 132);
    --color-main-light-transparent: rgba(136, 255, 132, 0.75);
    --color-main: rgb(139, 211, 137);
}


/*  pink template */

/* :root {
    --heading: 'Montserrat', sans-serif;
    --color-back: rgba(226, 226, 226, 0.2);
    --color-blank: rgb(143, 141, 141);
    --color-main-light: rgb(216,200,203);
    --color-main-light-transparent: rgba(216,200,203 ,0.75);
    --color-main: rgb(150,168,142);
} */

/*  green-blue template */

/* :root {
    --heading: 'Montserrat', sans-serif;
    --color-back: rgba(226, 226, 226, 0.2);
    --color-blank: rgb(143, 141, 141);
    --color-main-light: rgb(74,175,163);
    --color-main-light-transparent: rgba(74,175,163,0.75);
    --color-main: rgb(46, 153, 141);
} */


/* blue template */

/* :root {
    --heading: 'Montserrat', sans-serif;
    --color-back: rgba(226, 226, 226, 0.2);
    --color-blank: rgb(143, 141, 141);
    --color-main-light: rgb(141, 168, 241);
    --color-main-light-transparent: rgba(141, 168, 241, 0.75);
    --color-main: rgb(68, 109, 221);
} */

body {
    font-family: 
    'Raleway', sans-serif;
}

/* global */
img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    width: 90%;
}

/* navigation */

#header {
    width:  100%;
    height: 100px;
}

#navigation_container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100px;
}

#top_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 20px 30px;
    height: 100%;
}

#top_head .fas{
    font-size: 2rem;
    cursor: pointer;
}

#website_name{
    padding-left: 20px;
}

.times_button{
    display: none;
}

.navigation_bar{
    background: dimgrey;
    height: 0;
    overflow: hidden;
}

.show_navigation{
    height: auto;
}

.show_navigation nav ul li{
    margin: auto;
    height: 60px;
    padding: 15px;
    text-align: center;
}

#searchTextContainer:hover{
    background: initial !important;
}

#searchFieldContainer:hover{
    background: initial !important;
}

.show_navigation nav ul li div{
    margin: auto;
}

.navigation_bar ul li{
    text-align: center;
    /* width: 20%; */
    display: block;
    /* padding: 15px 0; */
    transition: all 1s ease-in-out;
}

#navigation_bar ul li:hover{
    background: rgb(40, 40, 40);
}


#navigation_bar ul li a{
    color: white;
    text-transform: uppercase;
}

#navigation_bar ul li a:hover{
    text-decoration: underline;
}

.navigation_buttons:hover{
    cursor: pointer;
}

#searchTextContainer{
    width: 200px;
}

#searchText{
    color: var(--color-main-light) !important;
}


#searchFieldContainer{
    display: none;
}

#searchDiv{
    width: 300px;
    display: flex;
    justify-content: center;
}

#searchDiv i{
    margin: 0 15px;
    color: var(--color-main-light);
    font-size: 2rem;
}

#searchDiv i:hover{
    cursor: pointer;
}

#searchField{
    text-align: center;
    line-height: 1.5;
    min-width: 100px;
}

#social_icons{
    display: none;
}

/* banner */

.banner{
    min-height: auto;
    display: block;
    /* grid-template-columns: 1fr; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    padding: 0;
    /* background-color: rgba(226, 226, 226, 0.2); */
}

.banner_main_content{
    align-items: center;
    /* padding: 0 2rem; */
    line-height: 1.7;
}

.banner_main_content h2{
    font-size: 2rem;
    font-family: var(--heading);
}

.banner_main_content h3{
    padding: 1rem 0;
}

.banner_main_content button{
    border: none;
    background: rgb(24, 24, 24);
    padding: 14px 18px;
    width: 300px;
    margin: auto;
    font-size: 1.2rem;
    font-family: 'Montserrat', 'sans-serif';
    transition: background 1s ease;
}

.banner_main_content button a{
    color: white;
}

.banner_main_content button:hover{
    background: white;
}

.banner_main_content button:hover a{
    color: rgb(24, 24, 24);
}

.banner_about{
    height: 300px;
    text-align: center;
    padding: 8px;
    display: grid;
    align-items: center;
}

.banner_about h2{
    text-align: center;
}

.banner_about h3{
    text-align: center;
}

.banner_about button{
    text-align: center;
}


.categoryButton{
    color: var(--color-main);
    font-size: 2rem;
}

/* .current_news_head_container h2{
    margin-top: 40px;
    text-align: center;
} */

.current_news_head{
    padding-top: 20px;
}

.banner_main_content hr{
    margin: 20px auto;
    background: var(--color-main);
    height: 1px;
    border: none;
}

.news_topic_container{
    width: 300px;
    display:flex;
    height: 70px;
    margin: 10px auto;
}

.news_topic_container i{
    width: 50px;
    margin: auto;
    height: 50px;
    font-size: 30px;
    padding: 10px 0;
    text-align: center;
    background-color: var(--color-main-light);
    border: 1px solid var(--color-main-light);
    border-radius: 20%;
}


.news_topic_container div{
    width: 10px;
    margin: auto;
    height: 10px;
    /* background: var(--color-main-light); */
    border-radius: 50%;
}

.news_topic_container h3{
    padding: 10px;
    border-radius: 20px;
    /* background-color: var(--color-main-light); */
    margin: 10px auto;
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news_topic_container h3:hover{
    background-color: var(--color-main);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.news_topic_container:hover div{
    background: var(--color-main) !important;
}


.hot_topic{
    overflow: hidden;
    position: relative;
    width: auto;
    padding: 12px;
    height: 300px;
}


.hot_topic:hover img{
    border: 2px solid var(--color-main-light);
}

.hot_topic:hover div{
    border: 2px solid var(--color-main-light);
    background: rgba(24,24,24,0.5);
}

.hot_topic:hover a{
    display: block;
}

.hot_topic:hover p{
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
}

.hot_topic img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    /* border: 2px solid var(--color-main-light); */
}

.hot_topic_content_top{
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border: 2px solid var(--color-main-light); */
    top: 12px;
    right: 0;
    left: 0;
    margin: auto 12px;
    padding: 10px 10px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
    background: rgba(24,24,24,0.5);
    overflow: hidden;
}

.hot_topic_content_bot{
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 1px;
    left: 12px;
    right: 12px;
    top: 60px;
    line-height: 230px;
    margin: 10px 0 10px 0;
    padding: 0;
    text-align: center;
    color: white;
    /* background: rgba(24,24,24,0.5); */
    overflow: hidden;
}

.hot_topic h2{
    /* padding: 10px 6px; */
    font-size: 18px;
    text-shadow: 0 0 5px black;
    height: 100%;
    margin: auto;
    vertical-align: top;
    line-height: 1.2;
}

.hot_topic h3{
    display:none;
    padding: 10px 0;
    font-size: 16px;
    text-shadow: 0 0 2px black;
}

.hot_topic p{
    display: none;
    padding: 12px 10px;
    font-size: 15px;
    text-shadow: 0 0 2px white;
}

.hot_topic a{
    display: none;
    position: absolute;
    background: var(--color-main-light-transparent);
    bottom: 0;
    right: 0;
    border: none;
    width: 95px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    padding: 10px 10px;
    font-size: 14px;
    margin: 12px;
}

.hot_topic a:hover{
    text-decoration: underline;
}

.banner_sub_content {
    display: none;
    margin: 15px;
}

.loader_container {
    display: block;
    width: 100%;
    margin: auto;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid var(--color-main);; /* Blue */
    border-radius: 50%;
    width: 50%;
    animation: spin 2s linear infinite;
    margin: 100px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#main_container{
    display: flex;
    flex-direction: column;
}

#blank_search{
    margin: 40px auto;
}

#page_index_container{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.page_index{
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.page_index i{
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    color: var(--color-main-light);
}

.page_index i:hover{
    cursor: pointer;
}

.page_index_disabled i:hover{
    cursor: initial !important;
}

#current_page{
    font-size: 20px;
    color: var(--color-main);
    text-align: center;
}

/* #current_page:hover{
    cursor: pointer;
} */

#current_page h2{
    border: 3px solid var(--color-main-light);
    border-radius: 50%;
    margin: auto 0;
}


/* footer */

#footer {
    width : 100%;
    background-color: black;
    line-height: 1.5;
}

#footer h2{
    padding: 10px 30px;
    text-align: center;
    color: white;
    color: var(--color-main-light);

}

#footer p{
    padding: 5px 30px;
    text-align: center;
    color: white;
}

#footer_contact{
    justify-content: center;
    display: flex;
    margin: 0 30px;
}

#footer_contact a{
    color: var(--color-main-light);
    font-size: 1.4rem;
    width: 30px;
    margin: auto 0;
}
  


/* relative */

@media(max-width: 400px){
    .news_topic_container{
        width: 300px !important;
    }

    .news_topic_container h3{
        width: 200px ! important;
    }

}



@media(max-width: 630px){
    .banner_about{
        height: auto;
    }
    
    .news_topic_container{
        width: 70%;
    }
    
    .news_topic_container h3{
        width: 70%;
    }

    .category_container{
        width: 300px;
        display: flex;
        margin: 20px auto;
        justify-content: space-between;
    }

    .category_container h2{
        width: 70%;
        display: flex;
        margin-top: 0px;
    }

    #breakAfterCategory p{
        border: 2px dashed black;
        width: 70%;
        margin:0 auto;
    }

    #categoriesExpandbutton{
        display: none;
    }
}

@media(min-width: 630px){
    .current_news_head{
        grid-template-columns: repeat(2, 1fr);
        display: grid !important;
    }

    .category_container{
        display: none;
    }
}


/* @media(min-width: 700px){
    .current_news_head{
        grid-template-columns: repeat(3, 1fr);
    }
} */

@media(min-width: 700px){
    .banner_sub_content{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media(min-width: 950px){
    .ham_button, .times_button{
        display: none !important; 
    }

    #navigation_container{
        display:flex;
        background-color: rgb(24, 24, 24);
        align-items: center;
        flex-wrap: wrap;
    }

    #top_head{
        flex: 0 0 15%;
    }

    .navigation_bar{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
        width: 30%;
        margin: 0 10px;
    }

    .navigation_bar nav{
        height: 100%;
    }

    .navigation_bar nav ul{
        height: 100%;
        display: flex;
        /* justify-content: center; */
    }

    .navigation_bar nav ul li{
        /* padding-right: 30px !important; */
        margin: auto 20px;
    }

    .navigation_bar nav ul li:hover{
        background: none !important;
    }

    #searchDiv{
        width: 200px;
        display: flex;
        justify-content: left;
    }

    #searchDiv i{
        margin: 0 5px;
    }

    #social_icons{
        /* flex: 0 1 30%; */
        display: block;
        margin: auto 10px;
    }

    #social_icons .fab{
        color: var(--color-main-light);
        font-size: 2rem;
    }

    #social_icons ul{
        display: flex;
        justify-content: center;
        /* padding:0 20px; */
    }

    #social_icons ul li{
        padding: 10px;
    }

    .current_news_head{
        grid-template-columns: repeat(3, 1fr);
    }

}


@media(max-width: 1100px){
    .current_news_head_container{
        position: initial !important;
    }

    .loader::after{
        padding-bottom: 100%;
        content: "";
        display: block;
    }

}


@media(min-width: 1100px){
    .banner{
        display: flex;
    }

    .current_news_head{
        margin: auto;
        padding: 10px;
        display: flex !important;
        flex-direction: column;
    }

    .news_topic_container{
        flex: 1;
        height: auto;
        margin: auto;
    }

    .news_topic_container i{ 
        margin: auto;
    }

    .news_topic_container h3{ 
        margin: auto;
        height: 50px;
    }

    .extra_topic{
        display:none !important;
    }

    .banner_main_content{
        width: 350px;
    }

    .banner_main_content hr{
        width: 350px;
        background: inherit;
    }

    .banner_about{
        display:none;
    }

    .category_container h2{
        display: none;
    }

    .current_news_head_container {
        position: fixed;
        top: 100px;
        left: 0;
        bottom: 5px;
        width: 350px;
    }

    /* .banner_sub_content{
        margin-left: 350px;
    } */

    .loader {
        width: 350px;
        height: 350px;
    }

    #footer{
        min-height: 100px;
        display: table-row;
    }
}

@media(min-width: 1500px){
    /* .current_news_head{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } */

    /*
    .extra_topic{
        display:flex !important;
    } */

    .banner_sub_content{
        grid-template-columns: repeat(3, 1fr);
    }    
}



@media(min-width: 1800px){
    .banner_sub_content{
        grid-template-columns: repeat(4, 1fr);
    }
}

