#header{
    height: 100px;
    width: 100%;
    background-color: lightcyan;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#header_main{
    height: 90px;
    width: 100%;
    display:flex;
}

#header_bottom_border{
    width: 100%;
    height: 10px;
    background: linear-gradient(
        to bottom,
        lightcyan,
        rgb(240, 240, 240)
    )
        no-repeat;
    background-size: 100% 100%;
}

#header_left{
    width:30%;
    height: 100%;
    /* background-color: red; */
    display:flex;
    align-items:center;
}

#header_left_logo{
    margin-left: 10px;
    height: 60px;
    width: 60px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill img {
    width: 50px;
    height: 50px;
}

#header_left_search{
    margin-left: 10px;
    width: 250px;
    height: 80px;
}

#header_search_bar{
    width: 100%;
    height: 60%;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid #c2c2c2;
    font-size: 15px;
}

#header_search_bar:focus{
    outline: none;
    border-radius: 15px;
    border: 1px solid #2d9fd9;
}

#header_mid{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav_item{
    display: table-cell;
    padding: 15px;
    margin-right: 5px;
    margin-left: 5px;
    display:flex;
}

.nav_item:hover{
    border-bottom: 3px solid cyan;
}

#header_right{
    width: 30%;
    height: 100%;
}

#header_account_info_parent{
    float: right;
    width: 350px;
    height: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill_round {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    border-radius: 50%;
}

.fill_round img {
    padding: 10px;
    width: 25px;
    height: 25px;
}

#header_account_profile_picture{
    margin-right: 10px;
}

#header_account_profile_picture img{
    width: 45px;
    height: 45px;
    padding: 0px;
}

.account_info_parent{
    padding: 7px;
}

#main{
    width: 100%;
    min-height: 85%;
    margin-top: 100px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}

#left_panel{
    width: 300px;
    height: 100%;
    background-color: red;
    position: fixed;
    left: 0;
    top: 100px;
}

#right_panel{
    width: 300px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 100px;
    background-color: blue
}

#main_body{
    width: 550px;
    height: 2000px;
    background-color: purple;
}




